@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700&display=swap");

body {
  background: #f5f7fa;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.weather {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__form {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.weather__input, .weather__button {
  border: none;
  padding: 12px 16px;
  border-radius: 12px;
  font-size: 16px;
}

.weather__input {
  width: 20vw;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s;

  &:focus {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }
}

.weather__button {
  background: #4f8ef7;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #366ed8;
  }
}



.weather__info-container {
  margin-top: 5vw;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 24px;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.weather__info-container.loaded {
  opacity: 1;
  transform: translateY(0);
}

.weather__info-city {
  font-size: 70px;
}

.weather__info-main {
  display: flex;
  align-items: center;
  margin-top: 60px;
  font-size: 60px;
}

.weather__info-desc-text {
  margin-top: -10px;
}

.weather__info-desc-icon {
  width: 90px;
  height: 90px;
  filter: drop-shadow(0 4px 8px rgba(0,0,0,0.3));
}

.weather__info-wind {
  margin-top: auto;
}

.weather__info-weating {
  position: fixed;
  top: 45%;
}